@-webkit-keyframes shareSlideUp {
  from {
    bottom: -330px
  }
  to {
    bottom: 10px
  }
}
@-moz-keyframes shareSlideUp {
  from {
    bottom: -330px
  }
  to {
    bottom: 10px
  }
}
@keyframes shareSlideUp {
  from {
    bottom: -330px
  }
  to {
    bottom: 10px
  }
}
@-webkit-keyframes fadeInFadeOut {
  0% {
    opacity: 0
  }
  5% {
    opacity: 1
  }
  85% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@-moz-keyframes fadeInFadeOut {
  0% {
    opacity: 0
  }
  5% {
    opacity: 1
  }
  85% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@keyframes fadeInFadeOut {
  0% {
    opacity: 0
  }
  5% {
    opacity: 1
  }
  85% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
@-webkit-keyframes heightGrow {
  from {
    max-height: 0
  }
  to {
    max-height: 5000px
  }
}
@-moz-keyframes heightGrow {
  from {
    max-height: 0
  }
  to {
    max-height: 5000px
  }
}
@keyframes heightGrow {
  from {
    max-height: 0
  }
  to {
    max-height: 5000px
  }
}
@-webkit-keyframes heightGrowTransit {
  from {
    max-height: 0
  }
  to {
    max-height: 5000px
  }
}
@-moz-keyframes heightGrowTransit {
  from {
    max-height: 0
  }
  to {
    max-height: 5000px
  }
}
@keyframes heightGrowTransit {
  from {
    max-height: 0
  }
  to {
    max-height: 5000px
  }
}
@-webkit-keyframes heightGrowDropdown {
  from {
    max-height: 0
  }
  to {
    max-height: 1000px
  }
}
@-moz-keyframes heightGrowDropdown {
  from {
    max-height: 0
  }
  to {
    max-height: 1000px
  }
}
@keyframes heightGrowDropdown {
  from {
    max-height: 0
  }
  to {
    max-height: 1000px
  }
}
#printmap-extension {
  width: 100%;
  height: 100%
}
#printmap-extension .info-window {
  max-height: 1000%;
  transition: all .5s ease
}
#printmap-extension .info-window .minimized {
  max-height: 50px
}
#printmap-extension .rfp-info {
  z-index: 9999
}
#printmap-extension .rfp-info .info-menu #minimize {
  margin: -5px -10px 0 0
}
#printmap-extension .info-window {
  display: block;
  position: absolute;
  font-size: inherit;
  top: 48px;
  margin-left: 0;
  bottom: 0;
  color: #4a4a4a;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  overflow-y: auto;
  width: 450px;
  overflow-x: hidden;
  max-height: 100%;
  height: auto
}
#printmap-extension .info-window #minimize {
  margin: 0 0 0 15px!important
}
#printmap-extension .info-window.minimized {
  max-height: 50px!important;
  overflow-y: hidden!important
}
#printmap-extension .info-window.full-page {
  left: 0;
  padding-left: 500px;
  padding-right: 50px;
  padding-top: 10px;
  width: 100%;
  max-height: 1000%;
  transition: all .5s ease
}
#printmap-extension .info-window.full-page #minimize {
  float: right;
  margin: 22px 0 0 0!important
}
#printmap-extension .info-window.full-page #close {
  float: right;
  margin: 15px -10px 0 0
}
#printmap-extension .info-window.full-page .info-menu .header-logo {
  float: left;
  width: 70%;
  max-width: 680px;
  padding-left: 0
}
#printmap-extension .info-window.full-page .info-menu .header-button-wrapper {
  float: left;
  width: 35%;
  max-width: 330px;
  margin-left: 0
}
#printmap-extension .info-window.full-page h2 {
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%
}
#printmap-extension .info-window.full-page.minimized {
  max-height: 65px
}
#printmap-extension .info-window.search-margin {
  left: 450px
}
#printmap-extension .info-window.sidebar-margin {
  left: 450px
}
#printmap-extension .info-window .rfp-form p {
  padding: 0 15px;
  margin-bottom: 10px
}
#printmap-extension .info-window .focus-wrapper {
  float: left;
  width: 100%
}
#printmap-extension .info-window .focus-wrapper .stop-navigation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 10%;
  opacity: .78;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;
  background-color: #000;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 400
}
#printmap-extension .info-window .focus-wrapper .stop-navigation .left,
#printmap-extension .info-window .focus-wrapper .stop-navigation .right {
  color: #fff;
  flex-shrink: 1;
  cursor: pointer;
  transition: transform;
  transition-delay: 10ms;
  transition-duration: 667ms;
  transition-timing-function: ease-in
}
#printmap-extension .info-window .focus-wrapper .stop-navigation .left i:hover {
  transform: translateX(-10%) scale(1.2,1.2)
}
#printmap-extension .info-window .focus-wrapper .stop-navigation .right i:hover {
  transform: translateX(10%) scale(1.2,1.2)
}
#printmap-extension .info-window .focus-wrapper .stop-navigation .stop-name {
  flex-grow: 2;
  text-align: center;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #fff
}
#printmap-extension .info-window .content {
  max-width: 684px;
  float: left;
  width: -moz-calc(100% - 30% - 5%);
  width: -webkit-calc(100% - 30% - 5%);
  width: calc(100% - 30% - 5%)
}
#printmap-extension .info-window .content .location-title {
  padding-top: 4%
}
#printmap-extension .info-window .resources-wrapper {
  float: left;
  width: 30%;
  max-width: 327px;
  margin-left: 20px
}
#printmap-extension .info-window .resources {
  box-shadow: 0 0;
  display: block;
  width: 100%;
  background-color: #eee;
  min-height: 400px;
  padding: 6%;
  border-radius: 5px;
  border: 1px solid transparent
}
#printmap-extension .info-window .resources h2 {
  font-size: 1.2rem
}
#printmap-extension .info-window .resources h3 {
  font-size: .8rem;
  font-weight: 700
}
#printmap-extension .info-window .resources .breakout {
  margin-bottom: 20px
}
#printmap-extension .info-window .resources .breakout button {
  padding: 3px 7px;
  height: 24px;
  width: 24px;
  margin: 0;
  margin-right: 5px
}
#printmap-extension .info-window .resources .breakout .icon {
  width: 150px;
  text-align: left;
  margin-left: 0;
  text-transform: none;
  padding: 0;
  color: #f37a22;
  transition: all .25s ease
}
#printmap-extension .info-window .resources .breakout .icon:hover {
  color: #f4893a
}
#printmap-extension .info-window .resources .mapspacer-documents ul > li {
  line-height: 2em;
  padding-left: 24px;
  margin: 5px 0
}
#printmap-extension .info-window .resources .mapspacer-documents ul > li.pdf {
  background: transparent url(../assets/icons/pdf-icon.svg) no-repeat
}
#printmap-extension .info-window .resources .mapspacer-documents ul > li.skp {
  background: transparent url(../assets/icons/sketchup-logo.svg) no-repeat
}
#printmap-extension .info-window .resources .mapspacer-documents ul > li.pdf,
#printmap-extension .info-window .resources .mapspacer-documents ul > li.skp {
  background-size: 14px;
  background-position: 0 4px
}
#printmap-extension .info-window .resources .mapspacer-documents ul > li a {
  color: #4d4d4d;
  font-weight: 600;
  transition: all .25s ease
}
#printmap-extension .info-window .resources .mapspacer-documents ul > li a:hover {
  color: #000
}
#printmap-extension .info-window .resources .view-as {
  font-weight: 600
}
#printmap-extension .info-window .resources .view-as button[name=explore] {
  margin-left: 10px;
  border-radius: 3px 0 0 3px;
  box-shadow: none;
  margin-left: 10px;
  background: 0 0;
  border: 1px solid #f37a22;
  transition: all .25s ease;
  color: #f37a22!important
}
#printmap-extension .info-window .resources .view-as button[name=explore] .active {
  background: #f37a22;
  color: #fff
}
#printmap-extension .info-window .resources .view-as button[name=explore]:hover {
  background: rgba(243,122,34,.25)
}
#printmap-extension .info-window .resources .view-as button[name=plan] {
  margin-left: -3px;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
  margin-left: -4px;
  background: 0 0;
  border: 1px solid #f37a22;
  transition: all .25s ease;
  color: #f37a22!important
}
#printmap-extension .info-window .resources .view-as button[name=plan] .active {
  background: #f37a22;
  color: #fff
}
#printmap-extension .info-window .resources .view-as button[name=plan]:hover {
  background: rgba(243,122,34,.25)
}
#printmap-extension .info-window .capacity,
#printmap-extension .info-window .specs {
  padding: 4% 0 0 0
}
#printmap-extension .info-window .specs:nth-child(4) {
  margin-right: 0!important
}
#printmap-extension .info-window .specs table {
  border-color: transparent;
  float: left;
  margin-right: 5%;
  width: 40%
}
#printmap-extension .info-window .specs table .jsonOdd {
  background-color: transparent
}
#printmap-extension .info-window .specs table .jsonCell,
#printmap-extension .info-window .specs table .jsonColumn {
  border-color: transparent
}
#printmap-extension .info-window .specs table .jsonColumn {
  color: #000
}
#printmap-extension .info-window .specs table .jsonHeader {
  background-color: transparent
}
#printmap-extension .info-window .specs .list-wrapper {
  width: 48%;
  float: left;
  margin-right: 2%;
  margin-bottom: 50px
}
#printmap-extension .info-window .specs .list-wrapper ul > li:before {
  content: "\2013 ";
  padding-right: 5px
}
#printmap-extension .info-window .specs .list-wrapper h3 {
  font-size: 1em;
  font-weight: 600
}
#printmap-extension .info-window .specs .footer {
  clear: both
}
#printmap-extension .info-window .capacity .footer {
  margin-top: 5px;
  font-style: italic
}
#printmap-extension .info-window .media {
  width: 100%;
  overflow: hidden
}
#printmap-extension .info-window .media .media-display {
  height: 300px;
  overflow: hidden
}
#printmap-extension .info-window .media .media-selector {
  background-color: #aaa;
  width: 100%;
  height: 84px;
  overflow: auto;
  position: relative;
  padding: 5px 5px
}
#printmap-extension .info-window .media .media-selector span {
  display: none;
  margin: 0 5px
}
#printmap-extension .info-window .media .media-selector span.inline_block {
  display: inline-block
}
#printmap-extension .info-window .media .media-selector span.model {
  height: 60px;
  margin: 5px 5px
}
#printmap-extension .info-window .media .media-selector span.model section {
  display: inline-block;
  position: absolute;
  height: 70px;
  margin: 0 10px
}
#printmap-extension .info-window .media .media-buttons {
  height: 80px;
  border: 1px solid #e8e8e8
}
#printmap-extension .info-window .media .media-buttons button#3dModel,
#printmap-extension .info-window .media .media-buttons button#ViewMap,
#printmap-extension .info-window .media .media-buttons button#panorama,
#printmap-extension .info-window .media .media-buttons button#photos {
  width: 25%;
  padding: 0;
  margin: 0;
  background: 0 0;
  box-shadow: none;
  color: #ccc;
  border-right: 1px solid #e8e8e8;
  height: 80px;
  padding-top: 45px;
  transition: all .25s ease;
  border-bottom: 5px solid rgba(255,255,255,0);
  border-radius: 0
}
#printmap-extension .info-window .media .media-buttons button#3dModel:hover,
#printmap-extension .info-window .media .media-buttons button#ViewMap:hover,
#printmap-extension .info-window .media .media-buttons button#panorama:hover,
#printmap-extension .info-window .media .media-buttons button#photos:hover {
  color: #999
}
#printmap-extension .info-window .media .media-buttons button#3dModel:hover:before,
#printmap-extension .info-window .media .media-buttons button#ViewMap:hover:before,
#printmap-extension .info-window .media .media-buttons button#panorama:hover:before,
#printmap-extension .info-window .media .media-buttons button#photos:hover:before {
  background-color: #999
}
#printmap-extension .info-window .media .media-buttons button#3dModel.active,
#printmap-extension .info-window .media .media-buttons button#ViewMap.active,
#printmap-extension .info-window .media .media-buttons button#panorama.active,
#printmap-extension .info-window .media .media-buttons button#photos.active {
  border-bottom: 5px solid #f37a22;
  color: #999;
  background: #999
}
#printmap-extension .info-window .media .media-buttons button#photos:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask: url(/assets/icons/photos.svg) no-repeat;
  mask: url(/assets/icons/photos.svg) no-repeat;
  -webkit-mask-size: 32px;
  mask-size: 32px;
  -webkit-mask-position: center 19px;
  mask-position: center 19px;
  background-color: #ccc;
  height: 100%;
  width: 100%;
  transition: all .25s ease
}
#printmap-extension .info-window .media .media-buttons button#panorama:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask: url(/assets/icons/360.svg) no-repeat;
  mask: url(/assets/icons/360.svg) no-repeat;
  -webkit-mask-size: 32px;
  mask-size: 32px;
  -webkit-mask-position: center 15px;
  mask-position: center 15px;
  background-color: #ccc;
  height: 100%;
  width: 100%;
  transition: all .25s ease
}
#printmap-extension .info-window .media .media-buttons button#3dModel:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask: url(/assets/icons/3d-model.svg) no-repeat;
  mask: url(/assets/icons/photos.svg) no-repeat;
  -webkit-mask-size: 32px;
  mask-size: 32px;
  -webkit-mask-position: center 15px;
  mask-position: center 15px;
  background-color: #ccc;
  height: 100%;
  width: 100%;
  transition: all .25s ease
}
#printmap-extension .info-window .media .media-buttons button#ViewMap {
  border-right: none
}
#printmap-extension .info-window .media .media-buttons button#ViewMap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask: url(/assets/icons/view-map.svg) no-repeat;
  mask: url(/assets/icons/photos.svg) no-repeat;
  -webkit-mask-size: 32px;
  mask-size: 32px;
  -webkit-mask-position: center 15px;
  mask-position: center 15px;
  background-color: #ccc;
  height: 100%;
  width: 100%;
  transition: all .25s ease
}
#printmap-extension .info-window .menu-bar {
  float: left;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  width: 100%
}
#printmap-extension .info-window .menu-bar button {
  height: 80px;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 3% 0;
  overflow: hidden;
  width: 15%;
  background-color: transparent;
  border: 1px dotted;
  border-radius: 10px;
  margin: 5px;
  color: #aaa;
  text-align: center;
  cursor: pointer
}
#printmap-extension .info-window .menu-bar button:hover {
  color: #236794
}
#printmap-extension .info-window .menu-bar button .image {
  opacity: .55;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%,-50%);
  box-shadow: 1px 1px 4px 1px #000;
  border-radius: 5px;
  z-index: auto
}
#printmap-extension .info-window .menu-bar button i {
  flex: 0 1 0;
  font-size: 1.1em
}
#printmap-extension .info-window .menu-bar button p {
  flex: 0 1 0;
  font-size: .7em;
  letter-spacing: 1px
}
#printmap-extension .info-window .menu-bar button i,
#printmap-extension .info-window .menu-bar button p {
  color: #122731;
  z-index: 1;
  padding: 0 0 5px 0
}
#printmap-extension .info-window .menu-bar button.empty i,
#printmap-extension .info-window .menu-bar button.empty p {
  color: #aaa
}
#printmap-extension .info-window .details {
  float: left;
  overflow: hidden;
  line-height: 1;
  width: 100%
}
#printmap-extension .info-window .details > header {
  display: block;
  padding: 4% 0;
  box-shadow: 0 4px 4px -5px #000;
  overflow: hidden
}
#printmap-extension .info-window .details > header:before {
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle
}
#printmap-extension .info-window .details .scroll-wrapper {
  height: 100%;
  padding: 4% 0;
  overflow: auto;
  height: auto;
  font-weight: 200;
  font-size: .8em
}
#printmap-extension .info-window .info-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 1px 3px -3px #000;
  height: 4em;
  font-size: 1em;
  font-weight: 300;
  max-width: 1040px;
  overflow: hidden
}
#printmap-extension .info-window .info-menu i {
  padding: 0 2% 0 0;
  cursor: pointer;
  text-align: center
}
#printmap-extension .info-window .info-menu .header-logo {
  font-size: 24px;
  margin-bottom: 10px;
  max-width: 684px;
  padding-left: 15px;
  width: 370px;
  margin-top: 5px
}
#printmap-extension .info-menu-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2%;
  height: 2.4em;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  z-index: 10001
}
#printmap-extension .info-menu-overlay:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle
}
#printmap-extension .info-menu-overlay .title-wrapper {
  display: inline-block;
  width: 70%;
  vertical-align: middle
}
#printmap-extension .info-menu-overlay .title-wrapper .category,
#printmap-extension .info-menu-overlay .title-wrapper .title {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  vertical-align: middle
}
#printmap-extension .info-menu-overlay .title-wrapper .title {
  max-width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
#printmap-extension .info-menu-overlay .title-wrapper .category {
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase
}
#printmap-extension .info-menu-overlay .title-wrapper .category:before {
  content: '|';
  display: inline-block;
  vertical-align: middle;
  padding: 0 2px
}
#printmap-extension .info-menu-overlay .actions-wrapper {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  text-align: right
}
#printmap-extension .search-info {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 20000
}
#printmap-extension .search-info .info-menu i {
  font-size: inherit;
  flex: 1 0 0;
  color: #fff
}
#printmap-extension .search-info .info-menu > input[type=text] {
  flex: 6 0 0;
  font-size: inherit;
  font-weight: 400;
  padding: 4px;
  margin: 0 1% 0 0;
  outline: 0;
  border: 1px solid rgba(0,0,0,.85);
  color: #999;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px
}
#printmap-extension .search-info .info-menu button {
  flex: 1 0 0;
  font-size: inherit;
  font-weight: 400;
  background: 0 0;
  border: none;
  outline: 0;
  text-align: center;
  color: #fff
}
#printmap-extension .search-info .results {
  display: block;
  background-color: #fff;
  height: 100%;
  overflow: hidden
}
#printmap-extension .search-info .results > ul {
  display: block;
  height: 100%;
  overflow: auto
}
#printmap-extension .search-info .results > ul > li {
  font-size: inherit;
  margin: 2.5% 1.5%;
  height: 12%;
  overflow: hidden;
  border: 1px solid #eee
}
#printmap-extension .search-info .results > ul > li > h4 {
  background-color: #ddd;
  padding: 0 0 0 1.5%;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.55)
}
#printmap-extension .search-info .results > ul > li > div {
  font-size: .85em;
  font-weight: 400;
  margin: 2.5% 0;
  text-overflow: ellipsis;
  overflow: visible
}
#printmap-extension .search-info .results > ul > li > div * {
  text-overflow: inherit;
  overflow: inherit
}
#printmap-extension .image-focus {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center
}
#printmap-extension .image-focus .image {
  display: inline-block;
  min-height: 180px;
  max-height: 260px;
  max-width: 100%
}
#printmap-extension .image-focus .image:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%
}
#printmap-extension {
  height: calc(100% - 48px);
  overflow: hidden
}
#printmap-extension #print-window {
  z-index: 90
}
#printmap-extension #print-window .info-menu {
  border-bottom: 1px solid #e8e8e8
}
#printmap-extension #print-window .info-menu .header-logo i {
  font-size: 1rem
}
#printmap-extension .printmap-form {
  height: calc(100% - 64px);
  overflow: scroll
}
#printmap-extension .printmap-form form {
  padding: 15px 0
}
#printmap-extension .printmap-form form legend {
  margin-top: 20px;
  padding: 0;
  font-size: 1rem
}
#printmap-extension .printmap-form form legend .circle {
  background-color: #4a4a4a;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: .8rem;
  text-align: center;
  padding: 1px 0;
  width: 20px;
  height: 20px;
  margin-right: 5px
}
#printmap-extension .printmap-form form .row {
  background: #f1f1f1;
  border-radius: 5px;
  padding: 0;
  display: flex;
  flex: 1 50%;
  flex-wrap: wrap;
  margin-bottom: 10px
}
#printmap-extension .printmap-form form .row .form-group {
  padding: 10px 15px
}
#printmap-extension .printmap-form form .row .form-group label {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: .9rem;
  cursor: default
}
#printmap-extension .printmap-form form .row .form-group label[for=compass],
#printmap-extension .printmap-form form .row .form-group label[for=noCoords],
#printmap-extension .printmap-form form .row .form-group label[for=noMap],
#printmap-extension .printmap-form form .row .form-group label[for=noRenderings],
#printmap-extension .printmap-form form .row .form-group label[for=sortByAlphabet] {
  margin-left: 35px
}
#printmap-extension .printmap-form form .row .form-group label[for=compass]:hover,
#printmap-extension .printmap-form form .row .form-group label[for=noCoords]:hover,
#printmap-extension .printmap-form form .row .form-group label[for=noMap]:hover,
#printmap-extension .printmap-form form .row .form-group label[for=noRenderings]:hover,
#printmap-extension .printmap-form form .row .form-group label[for=sortByAlphabet]:hover {
  cursor: pointer
}
#printmap-extension .printmap-form form .row.padding-less {
  margin-bottom: 0;
  width: 100%
}
#printmap-extension .printmap-form form .form-group.wide {
  width: 100%
}
#printmap-extension .printmap-form form .form-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative
}
#printmap-extension .printmap-form form .form-group.full {
  width: 100%
}
#printmap-extension .printmap-form form .form-group input[name=sortByAlphabet] {
  top: 25px!important;
  left: 200px!important
}
#printmap-extension .printmap-form form .form-group .field-group {
  width: 100%
}
#printmap-extension .printmap-form form .form-group input[type=text],
#printmap-extension .printmap-form form .form-group select {
  width: 100%;
  height: 30px;
  margin: 0
}
#printmap-extension .printmap-form form .form-group input[type=text]:hover,
#printmap-extension .printmap-form form .form-group select:hover {
  cursor: pointer
}
#printmap-extension .printmap-form form .print-select-tabs {
  display: flex;
  flex-direction: row;
  color: #999;
  border-bottom: 3px solid #2560a6;
  font-weight: 700;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}
#printmap-extension .printmap-form form .print-select-tabs div {
  width: 50%;
  text-align: center;
  line-height: 36px;
  height: 36px;
  background: 0 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}
#printmap-extension .printmap-form form .print-select-tabs div:hover {
  cursor: pointer;
  background: #e9f1fa
}
#printmap-extension .printmap-form form .print-select-tabs .selected {
  background-color: #2560a6!important;
  color: #fff
}
#printmap-extension .printmap-form form .print-tab {
  background: #f1f1f1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
  height: 250px;
  overflow-y: scroll
}
#printmap-extension .printmap-form form .print-tab > div {
  padding: 10px 0 0 0
}
#printmap-extension .printmap-form form .print-tab #pm-tours {
  padding: 15px 15px 0 15px
}
#printmap-extension .printmap-form form .print-tab #pm-tours label {
  position: relative;
  margin-bottom: 10px
}
#printmap-extension .printmap-form form .print-tab #pm-tours label p {
  margin-left: 30px
}
#printmap-extension .printmap-form form .print-tab .category-children {
  display: none
}
#printmap-extension .printmap-form form .print-tab .category-children.expanded {
  display: block;
  margin-top: 10px
}
#printmap-extension .printmap-form form .print-tab .category-children.expanded .location-checkboxes {
  margin-top: 10px;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s
}
#printmap-extension .printmap-form form .print-tab .category-children.expanded .location-checkboxes label {
  margin-bottom: 10px
}
#printmap-extension .printmap-form form .print-tab .category-children.expanded .location-checkboxes label p {
  margin-left: 10px
}
#printmap-extension .printmap-form form .print-tab .category-children.lvl-1 {
  padding-left: 15px
}
#printmap-extension .printmap-form form .print-tab .category-children.lvl-2 {
  padding-left: 30px
}
#printmap-extension .printmap-form form .print-tab .category-children.lvl-3 {
  padding-left: 45px
}
#printmap-extension .printmap-form form .print-tab .category-children.lvl-4 {
  padding-left: 60px
}
#printmap-extension .printmap-form form .print-tab .category-children.lvl-5 {
  padding-left: 75px
}
#printmap-extension .printmap-form form .print-tab .category-children .category-checkbox:hover {
  cursor: pointer;
  background-color: #ddd
}
#printmap-extension .printmap-form form .print-tab .category-children .category-checkboxes .category-checkbox {
  margin-bottom: 10px
}
#printmap-extension .printmap-form form .print-tab > div > div {
  float: left;
  width: 100%;
  padding-left: 10px
}
#printmap-extension .printmap-form form .print-tab > div > div .form-item,
#printmap-extension .printmap-form form .print-tab > div > div label {
  position: relative;
  padding-left: 20px
}
#printmap-extension .printmap-form form .print-tab > div > div .form-item .arrow,
#printmap-extension .printmap-form form .print-tab > div > div label .arrow {
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #4a4a4a;
  margin-right: 5px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  position: absolute;
  left: 3px;
  top: 4px
}
#printmap-extension .printmap-form form .print-tab > div > div .form-item .arrow.expanded,
#printmap-extension .printmap-form form .print-tab > div > div label .arrow.expanded {
  transform: rotate(90deg)
}
#printmap-extension .printmap-form form .print-tab > div > div .form-item input:after,
#printmap-extension .printmap-form form .print-tab > div > div label input:after {
  top: 18px
}
#printmap-extension .printmap-form form .print-tab > div > div .form-item input:checked:after,
#printmap-extension .printmap-form form .print-tab > div > div label input:checked:after {
  top: -12px
}
#printmap-extension .printmap-form form .print-tab > div > div .form-item .pm-catname,
#printmap-extension .printmap-form form .print-tab > div > div label .pm-catname {
  position: relative;
  left: 20px;
  font-weight: 400
}
#printmap-extension .printmap-form form .print-tab > div > div .form-item .pm-catname:hover,
#printmap-extension .printmap-form form .print-tab > div > div label .pm-catname:hover {
  cursor: pointer
}
#printmap-extension .printmap-form form .print-tab > div > div .form-item.label,
#printmap-extension .printmap-form form .print-tab > div > div label.label {
  position: absolute;
  left: 200px
}
#printmap-extension .printmap-form form .print-tab > div > div .locations-accordion.expanded {
  background: rgba(202,202,202,.24);
  padding: 10px 0 10px 30px;
  margin: 10px 0
}
#printmap-extension .printmap-form form .form-footer {
  background-color: transparent;
  margin: 15px;
  padding: 0;
  position: relative;
  width: 100%
}
#printmap-extension .printmap-form form .form-footer .spinner {
  position: absolute;
  z-index: 1000;
  left: 190px
}
#printmap-extension .printmap-form form .form-footer .spinner .spinner-wrapper .round-spinner {
  width: 20px
}
#printmap-extension .printmap-form form .form-footer .spinner.dark-gray-fg-3 {
  position: static;
  right: 81px
}
#printmap-extension .printmap-form form .form-footer .pm-failed,
#printmap-extension .printmap-form form .form-footer .pm-waiting {
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-size: .8rem;
  float: left;
  margin: 6px 0 0 10px
}
#printmap-extension .printmap-form form .form-footer .pm-waiting {
  padding-left: 25px;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation: fadeOut ease-in 1;
  -moz-animation: fadeOut ease-in 1;
  animation: fadeOut ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  animation-duration: 15s
}
#printmap-extension .printmap-form form .form-footer .pm-3-waiting {
  opacity: 1;
  color: #6e6e6e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px
}
#printmap-extension .printmap-form form .form-footer .pm-failed {
  color: #a94442;
  opacity: 1;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  -webkit-animation: fadeOut ease-in 1;
  -moz-animation: fadeOut ease-in 1;
  animation: fadeOut ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-duration: 5s
}
#printmap-extension .printmap-form form .pm-3-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px
}
#printmap-extension .printmap-form form .pm-3-btn-wrapper::after {
  content: "3.0 Beta";
  font-weight: 500;
  color: #4a4a4a;
  font-style: italic
}
#printmap-extension .printmap-form form legend {
  margin: 0 15px;
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  width: auto;
  margin-bottom: 10px
}
.pm-checkbox {
  left: 0
}
.pm-checkbox-label {
  margin: -10px 0 0 15px
}
.name-arrow {
  position: relative;
  left: 10px;
  width: fit-content;
  margin: 10px 0
}
.print-toggle-ctl {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
  margin: auto 0 0 0;
  background: #ccc;
  text-align: center;
  font-weight: 700;
  border-radius: 3px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  top: 9px
}
.print-toggle-ctl:hover {
  cursor: pointer
}
.print-toggle-ctl:after {
  content: '\2713';
  top: 10px;
  line-height: 0;
  color: #fff;
  font-size: 0;
  opacity: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}
.print-toggle-ctl.on {
  background: #2560a6
}
.print-toggle-ctl.on:after {
  font-size: 1rem;
  opacity: 1;
  top: 11px
}
.print-toggle-ctl.category,
.print-toggle-ctl.location {
  position: absolute;
  top: 1px;
  left: 0
}
.print-toggle-ctl.mixed:after {
  font-size: .9rem;
  opacity: 1;
  content: '\2014';
  top: 11px
}
.resizable-map-item {
  text-align: center;
  border: 3px dashed #fe0000;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
  line-height: 100%;
  margin: 0 auto;
  pointer-events: none
}
.resizable-map-item div {
  pointer-events: all
}
.resizable-map-item .resizable-box {
  background-color: #fe0000;
  height: 20px;
  width: 20px
}
#frameOverMap {
  position: absolute;
  bottom: 100px;
  right: 100px;
  border: 3px dotted #fe0000;
  height: 500px;
  width: 500px;
  background: 0 0;
  pointer-events: none;
  z-index: 9999
}
#frame-compass {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px
}
#frameOverMapContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 89;
  pointer-events: none;
  padding: 0;
  margin: 0;
  overflow: hidden
}
#frameParent {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden
}
.ui-resizable-sw {
  left: -3px;
  bottom: -3px
}
.ui-resizable-se {
  right: -3px;
  bottom: -3px
}
.ui-resizable-nw {
  left: -3px;
  top: -3px
}
.ui-resizable-ne {
  right: -3px;
  top: -3px
}